.skills-section {
    justify-content: center;
    align-items: center;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1rem;
}
.skills-category {
    border: var(--secondary-color) solid 5px;
    border-radius: 7px;
    min-width: 15rem;
    min-height:15rem;
    text-align: center;
}

@media screen and (min-width: 415px) {
    .skills-section {
        justify-content: center;
        padding:0;
    }
}
