footer {
    position: sticky;
    bottom: 0;
    left: 0;
    height: 7vh;
    margin-top: -7vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: 1.7s entryBottom;
    background-color: var(--background-color);
}

.social-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0 3rem;
}

@media screen and (min-width: 1024px) {
    .social-nav ul {
        gap: 3rem;
        padding-right: 2rem;
    }
}
