:root {
    --primary-color: #df5cc7;
    --background-color: #0b192f;
    --text-color: #8892b0;
    --secondary-color: #ccd6f6;
}
/* global styles */

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', sans-serif;
    background-color: var(--background-color);
    color: var(--primary-color);
}

html {
    margin: 0;
    position: relative;
}
ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;

    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

a {
    color: var(--secondary-color);
    text-decoration: none;
}

a:hover {
    color: var(--primary-color);
    transition: color 0.5s;
}

section {
    width: 80%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.2rem;
    padding: 10vh 0;
}

h1 {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h2 {
    color: var(--secondary-color);
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

p {
    font-size: 1.3rem;
    color: var(--text-color);
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}


@media screen and (min-width: 1024px) {
    section {
        padding: 0;
    }
    body {
        overflow: hidden;
    }
    section {
        width: 60%;
    }
}
